body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

/* Стилі */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  cursor: pointer;
}

section {
  padding: 120px 0;
}

.container {
  width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  flex-grow: 1;
}

.page-container {
  min-height: 100vh;
}

.header-box {
  border: 1px solid #e7e9fc;
  font-size: 16px;
  display: flex;
}

.header-container {
  display: flex;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.navigation-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  display: block;
  padding: 24px 0;
}

.address-box {
  display: flex;
  margin-left: auto;
}

.address-list {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-links {
  margin-right: 76px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.address-list {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.tagline-main {
  max-width: 496px;
  margin: 0 auto 48px auto;
}

.list-strange {
  width: calc((100% - 72px) / 4);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section-one .container {
  flex-direction: column;
  display: flex;
  align-items: center;
}

.section-two {
  flex-direction: column;
}

.strange-list {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 24px;
}

.title-strange {
  margin-bottom: 8px;
}

.section-three .container {
  flex-direction: column;
}

.section-title {
  align-items: flex-start;
  justify-content: center;
  margin-bottom: 72px;
}

.list-personal-compani {
  display: flex;
  gap: 24px;
}

.box-img-personal {
  padding: 32px 0;
}

.main-list-portfolio {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  flex-direction: row;
  row-gap: 48px;
}

.portfolio-section {
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-list {
  width: calc((100% - 48px) / 3);
}

.footer-content {
  margin-right: 120px;
}

/* Хот-барр сайта */
.header-links,
.home-color {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-decoration: none;
  text-transform: uppercase;
  color: #4d5ae5;
}

.home-color {
  color: #2e2f42;
}

/* Кнопки навігаціЇ */
.nav-link {
  padding: 24px 0;
  text-decoration: none;
  list-style-type: none;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.nav-link:hover,
.nav-link:focus {
  color: #404bbf;
}

/* Адресс */
.address-box {
  font-style: normal;
}

.address-list,
.address-info {
  text-decoration: none;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-info:hover,
.address-info:focus {
  color: #404bbf;
}

/* Перша секція - головна сторінка */
.section-one {
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(/images/people-office.jpg);
  background-position: 50% 50%;
  background-size: cover;
  height: 600px;
  padding: 188px 0;
}

/* Заголовок сайта */
.tagline-main {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 48px;
  color: #ffffff;
}

/* Кнопка заказа */
button {
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: #4d5ae5;

  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

button:hover,
button:focus {
  background: #404bbf;
}

/* Друга секція - сильні сторони */

.title-strange {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.title-strange-article {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Третя секція - наша команда */
.section-three {
  background-color: #f4f4fd;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.personal-name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.position {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

/* Четверта секція - наше портфоліо */

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
  color: #2e2f42;
}

.list-personal {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  width: calc((100% - 3 * 24px) / 4);
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.service {
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.main-list-portfolio {
  background-color: #ffffff;
}

.tipe-service {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Нижння частина сайта */
.footer {
  background: #2e2f42;
  padding: 100px 0;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: bold;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  margin-bottom: 16px;
  display: inline-block;
}

.logo-footer-color {
  color: #f4f4fd;
}

.title-footer {
  width: 264px;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #f4f4fd;
}
